# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_STUDIO

config ZMK_KEYBOARD_NAME
    default "STUDIO"

config ZMK_BLE
    default y
config ZMK_USB
    default y

endif
