/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "mouse.dtsi"

/ {
    behaviors {
        td_mo1_tg4: td_mo1_tg4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mo 1>, <&tog 4>;
        };

        td_mo2_sqt: td_mo2_sqt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp SQT>, <&mo 2>;
        };

        rpi: require_prior_idle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        rpi_a: rpi_a {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick-tap-ms = <220>;
            require-prior-idle-ms = <500>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        func: func {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            quick-tap-ms = <180>;
            require-prior-idle-ms = <115>;
            hold-trigger-key-positions = <16 17 18 6 7 8 9 28 27 26>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&kp Q              &kp W        &kp E           &kp R         &kp T      &kp Y     &kp U         &kp I         &kp O          &kp P
&rpi_a LEFT_GUI A  &rpi LALT S  &rpi_a LCTRL D  &rpi LSHFT F  &kp G      &kp H     &rpi RSHFT J  &rpi LCTRL K  &rpi_a LALT L  &rpi RGUI SEMI
&kp Z              &kp X        &kp C           &kp V         &kp B      &kp N     &kp M         &kp COMMA     &kp DOT        &kp SLASH
                                                &td_mo1_tg4   &lt 3 ESC  &kp BSPC                &kp ENTER     &kp SPACE      &lt 2 SQT      
            >;
        };

        lower {
            display-name = "Lower";
            bindings = <
&kp EXCL  &kp AT     &kp HASH       &kp LBKT              &kp RBKT               &kp PLUS   &func F7 N7  &func F8 N8  &func F9 N9  &func F10 N0
&trans    &kp TILDE  &kp DQT        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS  &func F4 N4  &func F5 N5  &func F6 N6  &kp UNDER
&trans    &trans     &kp LC(LS(C))  &kp LC(LS(V))         &kp BSLH               &kp EQUAL  &func F7 N1  &func F2 N2  &func F3 N3  &kp TILDE
                                    &trans                &trans                 &trans                  &trans       &trans       &trans
            >;
        };

        upper {
            display-name = "Upper";
            bindings = <
&trans  &mkp LCLK         &mmv MOVE_UP    &mkp RCLK          &msc SCRL_UP    &bt BT_PRV    &bt BT_NXT    &trans  &trans      &trans
&trans  &mmv MOVE_LEFT    &mmv MOVE_DOWN  &mmv MOVE_RIGHT    &msc SCRL_DOWN  &trans        &trans        &trans  &trans      &bootloader
&trans  &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &trans            &bt BT_SEL 0  &bt BT_SEL 1  &trans  &bt BT_CLR  &bt BT_CLR_ALL
                                          &trans             &trans            &trans                      &trans  &trans      &trans
            >;
        };

        function {
            display-name = "Function";
            bindings = <
&kp TAB  &trans  &kp END  &trans  &trans  &trans    &trans    &kp INS  &trans    &kp PG_UP
&kp ESC  &trans  &kp DEL  &trans  &trans  &kp HOME  &kp LEFT  &kp UP   &kp DOWN  &kp RIGHT
&studio_unlock   &trans  &trans   &trans  &trans  &trans    &trans    &trans   &trans    &kp PG_DN
                          &trans  &trans  &trans              &trans   &trans    &trans
            >;
        };

        meta {
            display-name = "Meta";
            bindings = <
&kp Q  &kp W  &kp E  &kp R   &kp T    &kp Y     &kp U  &kp I      &kp O      &kp P
&kp A  &kp S  &kp D  &kp F   &kp G    &kp H     &kp J  &kp K      &kp L      &kp F3
&kp Z  &kp X  &kp C  &kp V   &kp B    &kp N     &kp M  &kp DOT    &kp F4     &kp F2
                     &trans  &kp TAB  &kp BSPC         &kp ENTER  &kp SPACE  &trans
            >;
        };
    };
};
